.btn {
  @include pxRem(padding, 10 25 8);
  @include pxRem(border-radius, 3);
  @include pxRem(font-size, 15);
  background: #3f86c4;
  color: map-get($colors, white);
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid #3f86c4;
  &:focus {
    outline: none;
  }
  &.none {
    background: none;
    border: none;
    color: map-get($colors, bg-blue-dark);
    @include pxRem(padding, 10 0);
    &:hover {
      color:#3b5794;
    }
  }
}
.login-submit {
  margin: 0 auto;
  &:hover {
    background-color: map-get($colors, white);
    color: #3b5794;
    border-color: inherit;
  }
}
.btn-facebook, .btn-google {
  border-radius: 15px;
  color: map-get($colors, white);
  &:hover {
    border-color: inherit;
  }
}
.btn-facebook {
  background-color: #3b5794;
  border-color:#3b5794 ;
  &:hover {
    background-color: map-get($colors, white);
    color: #3b5794;
  }
}
.btn-google {
  background-color: #d2504c;
  border-color:#d2504c;
  &:hover {
    background-color: map-get($colors, white);
    color: #d2504c;
  }
}
.ant-btn-primary {
  margin-left: 50%;
}
