input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
  width: 100%;
  border: 1px solid map-get($colors, border-gray);
  color: map-get($colors, txt-primary);
  background: map-get($colors, white);
  outline: none;
  transition: border-color 0.4s;
  display: block;
  -webkit-appearance: none;
  transition: border-color 0.4s, box-shadow 0.4s;
  border-radius: 3px;
  &:focus {
    border-color: map-get($colors, action-blue);
    box-shadow: 0 0 0 1px map-get($colors, action-blue);
  }
  &:disabled,
  &.disabled {
    background: map-get($colors, bg-gray-light);
    border-color: map-get($colors, bg-gray-light);
    color: map-get($colors, txt-disabled);
  }
  &::placeholder {
    color: map-get($colors, txt-disabled);
  }
  &[readonly] {
    border-color: map-get($colors, border-gray);
    box-shadow: none;
  }
}

// Remove icon eye in Edge
input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

// Prevent resize horizontal
textarea {
  resize: vertical;
}

// Group form control
.form-group {
  @include pxRem(margin-bottom, 20);
}
.login-form {
  @include pxRem(padding, 40);
  background-color: #3c8ad933;
  border-radius: 5px;
  width: 85%;
  form {
    margin: 0 auto;
    div {
      display: flex;
      align-items: center;
      position:relative;
    }
    label {
      position: absolute;
      left: 12%;
      z-index: 100;
    }
    input {
      @include pxRem(height, 25);
      @include pxRem(padding, 18 10 15 25);
      width: 80%;
    }
    .ant-btn-submit {
      width: 100%;
    }
  }
}
.form-add-class {
  @include pxRem(margin, 30 30 0 30);
  @include pxRem(padding, 20);
  @include pxRem(max-width, 100%);
  background-color: #fff;
  border: 2px solid map-get($colors, border-gray );
  .ant-form-item-label {
    text-align: left;
  }
  &.tutor {
    @include pxRem(margin, 30);
  }
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0 !important;
}
