.ant-modal {
  // width: 75% !important;
}

.ant-modal-confirm-content {
  margin-left: 0 !important;
}
.ant-modal-confirm-btns {
  .ant-btn-primary{
    margin-left: 0 !important;
  }
}
.ant-form-item {
  margin-bottom: 5px !important;
}
