table {
  @include pxRem(max-width, 1024);
  border-collapse: collapse;
  th, td {
    @include pxRem(padding, 10);
    border: 1px solid map-get($colors, border-gray);
  }
}
.ant-spin-container {
  @include pxRem(max-width, 1024);
}
.ant-table-wrapper {
  @include pxRem(padding, 30)

}
.ant-table-thead {
  tr {
    background-color: map-get($colors, bg-gray ) !important;
  }
}
.ant-table-tbody > tr > td {
  @include pxRem(padding, 0 10 !important) ;
}

.ant-table-tbody > tr:hover {
  background-color: map-get($colors, bg-gray )!important;
}
.ant-table-cell {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  text-align: center !important;
}

.tutor-detail {
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
  }
}
