table {
  @include pxRem(max-width, 100%);
  border-collapse: collapse;
  th,
  td {
    @include pxRem(padding, 10);
    border: 1px solid map-get($colors, border-gray);
  }
}
.ant-spin-container {
  @include pxRem(max-width, 100%);
}
.ant-table-wrapper {
  @include pxRem(padding, 30);
}
.ant-table-thead {
  tr {
    background-color: map-get($colors, bg-gray) !important;
  }
}
.ant-table-tbody > tr > td {
  @include pxRem(padding, 0 5 !important);
  line-height: 0px !important;
}

td.ant-table-cell-row-hover {
  transition: 0.2s;
  background-color: #f1f1f1 !important;
}
.ant-table-cell {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 5px 0;
  }
  text-align: center !important;
  &::before {
    height: 0 !important;
  }
}

.tutor-detail {
  align-items: center;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
  }
}
