.title-table {
  @include pxRem(margin-top, 30);
  @include pxRem(margin-left, 30);
  @include pxRem(max-width, 1024);
  justify-content: space-between;
  align-items: center;
  h3 {
    color: map-get($colors, txt-hover);
  }
}
