.class-detail {
  width: 100%;
  justify-content: space-between;
  padding: 0 30px;
  &-info {
    margin-top: 10px;
    box-shadow: 0 0.1px 12px 0 hwb(165deg 82% 17% / 60%);
    border-radius: 2px;
    gap: 30px;
    padding: 10px 30px;
    p {
      padding: 10px 0;
    }
  }
}
.support-info {
  margin-top: -30px;
  padding: 10px;
  box-shadow: 0 0.1px 12px 0 hwb(165deg 82% 17% / 60%);
}
