a {
  color: map-get($colors, primary);
  &:hover {
    color: inherit;
  }
}

.section-banner {
  .banner-content {
    @include pxRem(height, 500);
    position: relative;
    .banner-img {
      @include pxRem(height, 500);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      filter: brightness(0.3);
    }
  }
}
.ant-carousel {
  .slick-dots-bottom {
    bottom: 100px !important;
  }
}

.banner-wrap-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  .banner-title {
    @include pxRem(font-size, 60);
    color: map-get($colors, txt-hover);
    font-weight: map-get($font-weight, bold);
  }
  .banner-text {
    color: map-get($colors, white);
  }
}
@keyframes move {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
.panel-info {
  --panel-item-height: 140px;
  margin-top: calc(var(--panel-item-height) / 2 * (-1));
  position: relative;
  &-list {
    @include pxRem(gap, 30);
    color: map-get($colors, white);
    justify-content: center;
  }
  &-item {
    @include pxRem(height, var(--panel-item-height));
    background-color: map-get($colors, bg-blue-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s linear;
    position: relative;
    &:hover {
      background-color: #1f305e;
      svg {
        animation: move 1s linear infinite;
        position: relative;
        display: block;
        transition: 1s linear;
      }
      svg.info-icon {
        animation: move 1s linear infinite;
        top: 20px;
        right: -10px;
        position: absolute;
        color: rgba(255, 255, 255, 0.238);
      }
    }
    svg {
      font-size: 30px;
      margin: 0 30px;
    }
    .info-icon {
      display: none;
    }
  }
  &-title {
    font-size: 18px;
    padding: 10px 0;
  }
}
.class-list {
  flex-wrap: wrap;
  justify-content: space-evenly;
  .class-item {
    @include pxRem(margin, 10);
    @include pxRem(padding, 10);
    width: 31%;
    align-items: center;
    border-radius: 5px;
    border: 2px solid map-get($colors, border-gray);
    list-style-type: none;
    position: relative;
    transition: 0.3s ease-in;
    background-color: #fff;
    &:hover {
      box-shadow: 0 0.1px 12px 0 rgba(47, 146, 195, 0.341);
    }
    img {
      @include pxRem(width, 100);
      @include pxRem(height, 100);
      object-fit: cover;
    }
    .product-fav {
      @include pxRem(top, 10);
      @include pxRem(right, 10);
      position: absolute;
    }
  }
}
.num-class {
  width: 200px;
  justify-content: center;
  button {
    margin-left: 5px;
    &.active {
      background-color: #00676b;
      color: white;
    }
    &:hover {
      background-color: #1f305e;
      color: white;
      border: none;
    }
  }
}
