@import url(antd/dist/antd.css);
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

.center {
  text-align: center; }

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-0 {
  margin: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mx-5 {
  margin-left: 0.3125rem !important;
  margin-right: 0.3125rem !important; }

.my-5 {
  margin-top: 0.3125rem !important;
  margin-bottom: 0.3125rem !important; }

.m-5 {
  margin: 0.3125rem !important; }

.mt-5 {
  margin-top: 0.3125rem !important; }

.ml-5 {
  margin-left: 0.3125rem !important; }

.mr-5 {
  margin-right: 0.3125rem !important; }

.mb-5 {
  margin-bottom: 0.3125rem !important; }

.mx-10 {
  margin-left: 0.625rem !important;
  margin-right: 0.625rem !important; }

.my-10 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important; }

.m-10 {
  margin: 0.625rem !important; }

.mt-10 {
  margin-top: 0.625rem !important; }

.ml-10 {
  margin-left: 0.625rem !important; }

.mr-10 {
  margin-right: 0.625rem !important; }

.mb-10 {
  margin-bottom: 0.625rem !important; }

.mx-15 {
  margin-left: 0.9375rem !important;
  margin-right: 0.9375rem !important; }

.my-15 {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem !important; }

.m-15 {
  margin: 0.9375rem !important; }

.mt-15 {
  margin-top: 0.9375rem !important; }

.ml-15 {
  margin-left: 0.9375rem !important; }

.mr-15 {
  margin-right: 0.9375rem !important; }

.mb-15 {
  margin-bottom: 0.9375rem !important; }

.mx-20 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important; }

.my-20 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important; }

.m-20 {
  margin: 1.25rem !important; }

.mt-20 {
  margin-top: 1.25rem !important; }

.ml-20 {
  margin-left: 1.25rem !important; }

.mr-20 {
  margin-right: 1.25rem !important; }

.mb-20 {
  margin-bottom: 1.25rem !important; }

.mx-25 {
  margin-left: 1.5625rem !important;
  margin-right: 1.5625rem !important; }

.my-25 {
  margin-top: 1.5625rem !important;
  margin-bottom: 1.5625rem !important; }

.m-25 {
  margin: 1.5625rem !important; }

.mt-25 {
  margin-top: 1.5625rem !important; }

.ml-25 {
  margin-left: 1.5625rem !important; }

.mr-25 {
  margin-right: 1.5625rem !important; }

.mb-25 {
  margin-bottom: 1.5625rem !important; }

.mx-30 {
  margin-left: 1.875rem !important;
  margin-right: 1.875rem !important; }

.my-30 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important; }

.m-30 {
  margin: 1.875rem !important; }

.mt-30 {
  margin-top: 1.875rem !important; }

.ml-30 {
  margin-left: 1.875rem !important; }

.mr-30 {
  margin-right: 1.875rem !important; }

.mb-30 {
  margin-bottom: 1.875rem !important; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.m-auto {
  margin: auto !important; }

.mt-auto {
  margin-top: auto !important; }

.ml-auto {
  margin-left: auto !important; }

.mr-auto {
  margin-right: auto !important; }

.mb-auto {
  margin-bottom: auto !important; }

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-0 {
  padding: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.px-5 {
  padding-left: 0.3125rem !important;
  padding-right: 0.3125rem !important; }

.py-5 {
  padding-top: 0.3125rem !important;
  padding-bottom: 0.3125rem !important; }

.p-5 {
  padding: 0.3125rem !important; }

.pt-5 {
  padding-top: 0.3125rem !important; }

.pl-5 {
  padding-left: 0.3125rem !important; }

.pr-5 {
  padding-right: 0.3125rem !important; }

.pb-5 {
  padding-bottom: 0.3125rem !important; }

.px-10 {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important; }

.py-10 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important; }

.p-10 {
  padding: 0.625rem !important; }

.pt-10 {
  padding-top: 0.625rem !important; }

.pl-10 {
  padding-left: 0.625rem !important; }

.pr-10 {
  padding-right: 0.625rem !important; }

.pb-10 {
  padding-bottom: 0.625rem !important; }

.px-15 {
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important; }

.py-15 {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important; }

.p-15 {
  padding: 0.9375rem !important; }

.pt-15 {
  padding-top: 0.9375rem !important; }

.pl-15 {
  padding-left: 0.9375rem !important; }

.pr-15 {
  padding-right: 0.9375rem !important; }

.pb-15 {
  padding-bottom: 0.9375rem !important; }

.px-20 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important; }

.py-20 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important; }

.p-20 {
  padding: 1.25rem !important; }

.pt-20 {
  padding-top: 1.25rem !important; }

.pl-20 {
  padding-left: 1.25rem !important; }

.pr-20 {
  padding-right: 1.25rem !important; }

.pb-20 {
  padding-bottom: 1.25rem !important; }

.px-25 {
  padding-left: 1.5625rem !important;
  padding-right: 1.5625rem !important; }

.py-25 {
  padding-top: 1.5625rem !important;
  padding-bottom: 1.5625rem !important; }

.p-25 {
  padding: 1.5625rem !important; }

.pt-25 {
  padding-top: 1.5625rem !important; }

.pl-25 {
  padding-left: 1.5625rem !important; }

.pr-25 {
  padding-right: 1.5625rem !important; }

.pb-25 {
  padding-bottom: 1.5625rem !important; }

.px-30 {
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important; }

.py-30 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important; }

.p-30 {
  padding: 1.875rem !important; }

.pt-30 {
  padding-top: 1.875rem !important; }

.pl-30 {
  padding-left: 1.875rem !important; }

.pr-30 {
  padding-right: 1.875rem !important; }

.pb-30 {
  padding-bottom: 1.875rem !important; }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: -.025em; }

p {
  line-height: 1.45; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 2.1875rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.53125rem; }

h4 {
  font-size: 1.3125rem; }

h5 {
  font-size: 1.09375rem; }

h6 {
  font-size: 0.875rem; }

.icon-fav {
  right: 20px;
  right: 1.25rem;
  bottom: 20px;
  bottom: 1.25rem;
  font-size: 20px;
  font-size: 1.25rem;
  color: wheat; }
  .icon-fav:hover {
    font-size: 24px;
    font-size: 1.5rem;
    right: 18px;
    right: 1.125rem;
    bottom: 18px;
    bottom: 1.125rem;
    cursor: pointer;
    color: #f4b057; }

.icon-fav.active {
  color: #b70606; }

.icon-fav-header {
  right: 20px;
  right: 1.25rem;
  bottom: 20px;
  bottom: 1.25rem;
  font-size: 18px;
  font-size: 1.125rem;
  color: #d61523;
  position: absolute; }

.fav-count {
  top: 8px;
  top: 0.5rem;
  left: 30px;
  left: 1.875rem;
  height: 18px;
  height: 1.125rem;
  width: 18px;
  width: 1.125rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  background-color: #d61523;
  text-align: center;
  vertical-align: middle; }

.btn {
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border-radius: 0.5rem;
  font-size: 18px;
  font-size: 1.125rem;
  height: 40px;
  height: 2.5rem;
  background: #333;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  transition: background 400ms ease;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center; }
  .btn:focus {
    outline: none; }
  .btn.disabled, .btn:disabled {
    pointer-events: none;
    background: #f7f7f7; }
  .btn.none {
    background: none;
    border: none;
    color: #151635;
    padding: 0px;
    padding: 0rem; }
    .btn.none:hover {
      color: #d61523; }

.login-submit {
  text-align: center;
  margin-right: 20px;
  margin-right: 1.25rem; }

.ant-btn-primary {
  margin-left: 50%; }

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
  width: 100%;
  border: 1px solid #e4e4e4;
  background: #fff;
  outline: none;
  transition: border-color 0.4s;
  display: block;
  -webkit-appearance: none;
  transition: border-color 0.4s, box-shadow 0.4s; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 0 0 1px; }
  input[type="text"]:disabled, input[type="text"].disabled,
  input[type="password"]:disabled,
  input[type="password"].disabled,
  input[type="tel"]:disabled,
  input[type="tel"].disabled,
  input[type="number"]:disabled,
  input[type="number"].disabled,
  select:disabled,
  select.disabled,
  textarea:disabled,
  textarea.disabled {
    background: #f7f7f7;
    border-color: #f7f7f7; }
  input[type="text"][readonly],
  input[type="password"][readonly],
  input[type="tel"][readonly],
  input[type="number"][readonly],
  select[readonly],
  textarea[readonly] {
    border-color: #e4e4e4;
    box-shadow: none; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

textarea {
  resize: vertical; }

label {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  display: block; }

.form-group {
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

.login-form {
  padding: 40px;
  padding: 2.5rem;
  background-color: #efefef;
  border-radius: 5px; }
  .login-form form label {
    padding-top: 20px;
    padding-top: 1.25rem; }
  .login-form form input {
    height: 25px;
    height: 1.5625rem;
    padding: 15px 10px;
    padding: 0.9375rem 0.625rem;
    width: 100%; }

.form-add-class {
  margin: 30px 30px 0px 30px;
  margin: 1.875rem 1.875rem 0rem 1.875rem;
  padding: 20px;
  padding: 1.25rem;
  max-width: 100%;
  border: 1px solid; }
  .form-add-class .ant-form-item-label {
    text-align: left; }
  .form-add-class.tutor {
    margin: 30px;
    margin: 1.875rem; }

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0 !important; }

table {
  max-width: 100%;
  border-collapse: collapse; }
  table th,
  table td {
    padding: 10px;
    padding: 0.625rem;
    border: 1px solid #e4e4e4; }

.ant-spin-container {
  max-width: 100%; }

.ant-table-wrapper {
  padding: 30px;
  padding: 1.875rem; }

.ant-table-thead tr {
  background-color: #e9eaec !important; }

.ant-table-tbody > tr > td {
  padding: 0px 10px !important;
  padding: 0rem 0.625rem !important; }

.ant-table-tbody > tr:hover {
  background-color: #e9eaec !important; }

.ant-table-cell {
  text-align: center !important; }
  .ant-table-cell img {
    width: 100px;
    height: 100px;
    object-fit: cover; }

.tutor-detail {
  align-items: center; }
  .tutor-detail img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px; }

.ant-modal-confirm-content {
  margin-left: 0 !important; }

.ant-modal-confirm-btns .ant-btn-primary {
  margin-left: 0 !important; }

.ant-form-item {
  margin-bottom: 5px !important; }

.tag {
  font-size: 14px;
  font-size: 0.875rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-left: 5px;
  margin-left: 0.3125rem;
  text-align: center;
  cursor: pointer; }

.flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.justify-content-between {
  justify-content: space-between; }

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .row > [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px; }

.row-no-gutters {
  margin-left: 0;
  margin-right: 0; }
  .row-no-gutters > [class*="col-"] {
    padding-left: 0;
    padding-right: 0; }

/* Grid for all screen
 * Ex: col-1, col-2 */
.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/* Grid for screen min-width: $small
 * Ex: col-small-1, col-small-2 */
@media (min-width: 480px) {
  .col-small-1 {
    width: 8.33333%; }
  .col-small-2 {
    width: 16.66667%; }
  .col-small-3 {
    width: 25%; }
  .col-small-4 {
    width: 33.33333%; }
  .col-small-5 {
    width: 41.66667%; }
  .col-small-6 {
    width: 50%; }
  .col-small-7 {
    width: 58.33333%; }
  .col-small-8 {
    width: 66.66667%; }
  .col-small-9 {
    width: 75%; }
  .col-small-10 {
    width: 83.33333%; }
  .col-small-11 {
    width: 91.66667%; }
  .col-small-12 {
    width: 100%; } }

/* Grid for screen min-width: $medium
 * Ex: col-medium-1, col-medium-2 */
@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33333%; }
  .col-medium-2 {
    width: 16.66667%; }
  .col-medium-3 {
    width: 25%; }
  .col-medium-4 {
    width: 33.33333%; }
  .col-medium-5 {
    width: 41.66667%; }
  .col-medium-6 {
    width: 50%; }
  .col-medium-7 {
    width: 58.33333%; }
  .col-medium-8 {
    width: 66.66667%; }
  .col-medium-9 {
    width: 75%; }
  .col-medium-10 {
    width: 83.33333%; }
  .col-medium-11 {
    width: 91.66667%; }
  .col-medium-12 {
    width: 100%; } }

/* Grid for screen min-width: $large
 * Ex: col-large-1, col-large-2 */
@media (min-width: 1024px) {
  .col-large-1 {
    width: 8.33333%; }
  .col-large-2 {
    width: 16.66667%; }
  .col-large-3 {
    width: 25%; }
  .col-large-4 {
    width: 33.33333%; }
  .col-large-5 {
    width: 41.66667%; }
  .col-large-6 {
    width: 50%; }
  .col-large-7 {
    width: 58.33333%; }
  .col-large-8 {
    width: 66.66667%; }
  .col-large-9 {
    width: 75%; }
  .col-large-10 {
    width: 83.33333%; }
  .col-large-11 {
    width: 91.66667%; }
  .col-large-12 {
    width: 100%; } }

/* Grid for screen min-width: $largest
 * Ex: col-largest-1, col-largest-2 */
@media (min-width: 1280px) {
  .col-largest-1 {
    width: 8.33333%; }
  .col-largest-2 {
    width: 16.66667%; }
  .col-largest-3 {
    width: 25%; }
  .col-largest-4 {
    width: 33.33333%; }
  .col-largest-5 {
    width: 41.66667%; }
  .col-largest-6 {
    width: 50%; }
  .col-largest-7 {
    width: 58.33333%; }
  .col-largest-8 {
    width: 66.66667%; }
  .col-largest-9 {
    width: 75%; }
  .col-largest-10 {
    width: 83.33333%; }
  .col-largest-11 {
    width: 91.66667%; }
  .col-largest-12 {
    width: 100%; } }

.page-header {
  background: #e9eaec;
  text-align: center;
  background-color: #fff;
  color: #fff;
  border: 2px solid #151635;
  margin-bottom: 1px; }
  .page-header .container {
    justify-content: space-between;
    align-items: center; }

.header-left .brand-title .brand-name {
  font-size: 22px;
  font-size: 1.375rem; }

.header-left .brand-title p:hover {
  color: #d61523; }

.header-right {
  border-bottom: 80px solid #151635;
  border-left: 90px solid transparent;
  height: 0;
  width: 100%;
  justify-content: space-around; }
  .header-right-nav-list {
    font-size: 18px; }
  .header-right-nav-item a {
    color: #fff; }
    .header-right-nav-item a:hover {
      color: #d61523; }
    .header-right-nav-item a.active {
      color: #d61523; }
  .header-right-nav-item .menu-sub-item {
    padding: auto; }

.social-list {
  align-items: baseline; }
  .social-list .social-item {
    color: #fff;
    font-size: 18px;
    position: relative; }
    .social-list .social-item a:-webkit-any-link {
      color: #fff;
      display: flex;
      align-items: center; }
    .social-list .social-item a:hover {
      color: #d61523; }
  .social-list .false {
    display: none; }
  .social-list .true {
    display: block; }

.page-main {
  padding: 0px 0px;
  padding: 0rem 0rem;
  min-height: 85vh; }

.ant-breadcrumb {
  font-size: 16px;
  font-size: 1rem;
  padding-top: 10px; }

.page-footer {
  padding: 10px;
  padding: 0.625rem;
  line-height: 28px;
  line-height: 1.75rem;
  background: #151635;
  text-align: center;
  color: #fff; }

.sider-nav h4 {
  color: #fff;
  margin-top: 20px;
  margin-top: 1.25rem;
  text-align: center; }

.sider-nav-item {
  padding: 10px;
  padding: 0.625rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  font-size: 16px;
  font-size: 1rem; }
  .sider-nav-item a {
    display: flex;
    gap: 20px;
    width: 70%;
    color: #fff; }
    .sider-nav-item a:hover, .sider-nav-item a.active {
      color: #d61523; }
  .sider-nav-item-name {
    padding-left: 20px;
    padding-left: 1.25rem;
    text-align: left; }

.ant-layout-sider-collapsed h3 {
  display: none; }

.ant-layout-sider-collapsed .sider-nav-item-name {
  display: none; }

.is-hidden {
  display: none; }

a {
  color: #333; }
  a:hover {
    color: inherit; }

.section-banner .banner-content {
  height: 500px;
  height: 31.25rem;
  position: relative; }
  .section-banner .banner-content .banner-img {
    height: 500px;
    height: 31.25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(0.3); }

.ant-carousel .slick-dots-bottom {
  bottom: 100px !important; }

.banner-wrap-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%); }
  .banner-wrap-text .banner-title {
    font-size: 60px;
    font-size: 3.75rem;
    color: #d61523;
    font-weight: 700; }
  .banner-wrap-text .banner-text {
    color: #fff; }

.panel-info {
  --panel-item-height: 150px;
  margin-top: calc(var(--panel-item-height)/2*(-1));
  position: relative; }
  .panel-info-list {
    gap: 30px;
    gap: 1.875rem;
    color: #fff;
    justify-content: center; }
  .panel-info-item {
    height: var(--panel-item-height);
    background-color: #151635;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .panel-info-item:hover {
      background-color: #d61523; }

.class-list {
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .class-list .class-item {
    margin: 10px;
    margin: 0.625rem;
    padding: 10px;
    padding: 0.625rem;
    width: 31%;
    align-items: center;
    box-shadow: 0 0.1px 12px 0 rgba(107, 182, 158, 0.668);
    border-radius: 5px;
    list-style-type: none;
    position: relative; }
    .class-list .class-item:hover {
      box-shadow: 0 0.1px 12px 0 rgba(47, 145, 195, 0.668); }
    .class-list .class-item img {
      width: 100px;
      width: 6.25rem;
      height: 100px;
      height: 6.25rem;
      object-fit: cover; }
    .class-list .class-item .product-fav {
      top: 10px;
      top: 0.625rem;
      right: 10px;
      right: 0.625rem;
      position: absolute; }

.num-class {
  width: 200px;
  justify-content: center; }
  .num-class button {
    margin-left: 5px; }
    .num-class button.active {
      background-color: #00676b;
      color: white; }
    .num-class button:hover {
      background-color: #151635; }

.page-account .account {
  width: auto;
  position: relative; }
  .page-account .account > img {
    height: 300px;
    height: 18.75rem;
    object-fit: cover;
    width: 100%;
    filter: brightness(0.7); }
  .page-account .account .account-info .account-avatar {
    height: 250px;
    height: 15.625rem;
    width: 250px;
    width: 15.625rem;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%; }
  .page-account .account .account-info .account-text {
    position: absolute;
    left: 30%; }
    .page-account .account .account-info .account-text p {
      padding: 5px 0px;
      padding: 0.3125rem 0rem; }

.class-detail {
  width: 100%;
  justify-content: space-between;
  padding: 0 30px; }
  .class-detail-info {
    margin-top: 10px;
    box-shadow: 0 0.1px 12px 0 hwb(165deg 82% 17%/60%);
    border-radius: 2px;
    gap: 30px;
    padding: 10px 30px; }
    .class-detail-info p {
      padding: 10px 0; }

.support-info {
  margin-top: -30px;
  padding: 10px;
  box-shadow: 0 0.1px 12px 0 hwb(165deg 82% 17%/60%); }

.page-main-login {
  min-height: inherit; }
  .page-main-login .container {
    min-height: inherit;
    align-items: center;
    justify-content: center; }

.title-table {
  margin: 30px 30px 0px 30px;
  margin: 1.875rem 1.875rem 0rem 1.875rem;
  max-width: 100%;
  justify-content: space-between;
  align-items: center; }
  .title-table h3 {
    color: #d61523; }
